{
  "mcpServers": {
    "pm-tasks": {
      "command": "uv",
      "args": [
        "run",
        "--directory",
        "./core/task-manager",
        "python",
        "server.py"
      ]
    }
  }
}
